
table {
    width: 100%;
}

td {
    width: 50%;
}

div {
    margin-top: 10px;
}

.news {
    overflow-y: scroll;
    height: 500px;
}

input {
    display: block;
    width: 100%;
    border-width: 0px;
    border: none;
    text-align: left;
}

.textarea {
    display: block;
    /*border: 3px solid #38c;*/
    padding: 10px;
}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    text-align: left;
}

body {
            padding: 20px 20px 20px 20px;
            background-color: rgba(11, 11, 11, 0.4);
}

#panel {
            background-color: white;
            border-radius: 2px;
            box-shadow: rgba(33,33,33,0.5) 0 0 4px 1px;
}



